<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie9 ie8 ie7 ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie9 ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
   {{> head }}
   {{{ page.assets.css }}}
   {{{ page.assets.jshead }}}
</head>
<body>

	<div class="wrapper">
		<div class="page">
      {{{ page.content }}}	
		</div>
	</div>

</body>
  {{{ page.assets.js }}}
  {{> javascripts }}
</html>
